{% extends "layout.html" %}
{% block body %}
<script src="/static/js/enthusiast.js"></script>
<div id="wrapper">
	<!-- Enthusiast INFO-->
	<div id="enthusiastInfo" class="span5 pull-right">
		<h2>Enthusiast Info</h2>
		<p>
			<strong>Username:</strong> <span id="username"></span><br>
			<strong>Email:</strong> <span id="email"></span><br>
			<strong>Address:</strong> <span id="address"></span><br>
			<strong>First Name:</strong> <span id="fname"></span><br>
			<strong>Middle Name:</strong> <span id="mname"></span><br>
			<strong>Last Name:</strong> <span id="lname"></span><br>
			<strong>interests:</strong> <span id="interests"></span><br>
		</p>
	</div>
	<!-- /Enthusiast INFO-->
	<!-- Enthusiast LIST-->
	<h1 class="span6"><a href="{{ url_for('enthusiast_api.createEnthusiast') }}">Create Enthusiast</a></h1><br>
	<h2 class="span6">Enthusiast List</h2>
	<div id="enthusiastList" class="span6">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Username</th>
					<th>Name</th>
					<th>Edit?</th>
					<th>Delete?</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<!-- /Enthusiast LIST-->
</div>
{% endblock %}