{% extends "layout.html" %}
{% block body %}
<script src="/static/js/hires.js"></script>
<h2>Create Hires</h2>
<form id="formAddHires" name="addhires" method="POST"
	action="{{ url_for('hires_api.createHires') }}" class="form-horizontal">
	<div class="form-group">
		<label for="enth_user" class="col-sm-2 control-label">Enthusiast:</label>
		<div class="col-sm-10">
			<input id="enth_user" type="text" placeholder="Enthusiast" name="enth_user"
				class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="artst_user" class="col-sm-2 control-label">Artist:</label>
		<div class="col-sm-10">
			<input id="artst_user" type="text" placeholder="Artist"
				name="artst_user" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="event_id" class="col-sm-2 control-label">Event ID:</label>
		<div class="col-sm-10">
			<input id="event_id" type="text" placeholder="Event ID"
				name="event_id" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="status" class="col-sm-2 control-label">Status:</label>
		<div class="col-sm-10">
			<input id="status" type="text" placeholder="Status"
				name="status" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="rating" class="col-sm-2 control-label">Rating:</label>
		<div class="col-sm-10">
			<input id="rating" type="text" placeholder="Rating"
				name="rating" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button id="btnSubmit" type="submit" class="form-control">Create Hires</button>
		</div>
	</div>
</form>
{% endblock %}