{% extends "layout.html" %}
{% block body %}
<script src="/static/js/event.js"></script>
<h2>Create Event</h2>
<form id="formAddEvent" name="addevent" method="POST"
	action="{{ url_for('event_api.createEvent') }}" class="form-horizontal">
	<div class="form-group">
		<label for="event_id" class="col-sm-2 control-label">Event ID:</label>
		<div class="col-sm-10">
			<input id="event_id" type="text" placeholder="Event ID" name="event_id"
				class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="start_time" class="col-sm-2 control-label">Start Time:</label>
		<div class="col-sm-10">
			<input id="start_time" type="text" placeholder="Start Time"
				name="start_time" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="end_time" class="col-sm-2 control-label">End Time:</label>
		<div class="col-sm-10">
			<input id="end_time" type="text" placeholder="End Time"
				name="end_time" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="address" class="col-sm-2 control-label">Address:</label>
		<div class="col-sm-10">
			<input id="address" type="text" placeholder="Address"
				name="address" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="event_type" class="col-sm-2 control-label">Event Type:</label>
		<div class="col-sm-10">
			<input id="event_type" type="text" placeholder="Address"
				name="event_type" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button id="btnSubmit" type="submit" class="form-control">Create Event</button>
		</div>
	</div>
</form>
{% endblock %}