{% extends "layout.html" %}
{% block body %}
<script src="/static/js/bandmembers.js"></script>
<div id="wrapper">
	<!-- Bandmembers INFO-->
	<div id="bandmembersInfo" class="span5 pull-right">
		<h2>Band Members Info</h2>
		<p>
			<strong>Artist ID:</strong> <span id="artst_user"></span><br>
			<strong>Band ID:</strong> <span id="band_id"></span><br>
			<strong>Status:</strong> <span id="status"></span><br>
		</p>
	</div>
	<!-- /Bandmembers INFO-->
	<!-- Bandmembers LIST-->
	<h1 class="span6"><a href="{{ url_for('bandmembers_api.createBandmembers') }}">Create Band Members</a></h1><br>
	<h2 class="span6">Band Members List</h2>
	<div id="bandmembersList" class="span6">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Band Members ID</th>
					<th>Artist Username</th>
					<th>Edit?</th>
					<th>Delete?</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
	<!-- /Bandmembers LIST-->
</div>
{% endblock %}